aiofiles==0.7.0
asgiref==3.4.1
astroid==2.8.4
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
commonmark==0.9.1
fastapi==0.109.1
fastapitableau==1.1.0
h11==0.12.0
idna==3.2
isort==5.10.1
Jinja2==3.0.2
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.4.0
pydantic==1.8.2
pylint==2.11.1
requests==2.26.0
starlette==0.14.2
toml==0.10.2
typing==3.7.4.3
typing-extensions==3.10.0.2
urllib3==1.26.7
uvicorn==0.15.0
wrapt==1.13.3
